
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.header img {
    max-width: 100px;
    height: auto;
}


.landing {
    text-align: center;
    padding: 2rem;
}

.landing h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.landing p {
    font-size: 1rem;
    color: #777;
}

.landing input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1rem;
}

.landing button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}




.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
